
<%# va chercher la methode @answer dans la def answer dans questions_contriller %>
<div class="askCard">
<p><strong><%= @answer %></strong></p>
<p>-You</p>
</div>
<div class="answerCard">
<p><strong><%= @ask %></strong></p>
<p>-Your Coatch</p>
</div>
