/*
* Il s'agit d'un fichier manifeste qui sera compilé dans application.css, qui inclura tous les fichiers
* listés ci-dessous.
*
* Tout fichier CSS (et SCSS, s'il est configuré) dans ce répertoire, lib/assets/stylesheets, ou le répertoire vendor/assets/stylesheets de tout plugin peut être référencé ici en utilisant un chemin relatif.
*
* Vous êtes libre d'ajouter des styles à l'échelle de l'application à ce fichier et ils apparaîtront au bas du
* fichier compilé afin que les styles que vous ajoutez ici aient la priorité sur les styles définis dans tout autre fichier CSS
* de ce répertoire. Les styles de ce fichier doivent être ajoutés après la dernière instruction require_*.
* Il est généralement préférable de créer un nouveau fichier par portée de style.
*
*= require_tree .
*= require_self
*/
.askCard{
  background-color: #FFFEFE;
  padding: 20px;
  height: 100px;
  margin: 5px;
  align-content: center;
  border-left: solid 10px #DDDCDC;
}
.answerCard {
  background-color: #FEFFE0;
  padding: 20px;
  height: 100px;
  margin: 5px;
  align-content: center;
  border-left: solid 10px #DDDCDC;
}
